
@media only screen and (max-width: 376px){
    html {
        font-size: 42%;
    }
}
@media only screen and (max-width: 321px){
    html {
        font-size: 37%;
    }
}
@media only screen and (max-width: 426px)and  (min-width: 400px){
    html {
        font-size: 48%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 900px){
    html {
        font-size: 60%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    html {
        font-size:80%;
    }
}
@media only screen and (min-width: 2559px){
    html {
        font-size: 117%;
    }
}